body {
  background-color: black;
  color: white;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col{
  height:105vh;
  width: 100vh;
}
.btn{
  height:7vh;
  width:10vw;
  padding-bottom: 30px;
  text-align: center;
}